<p>Hello <%= vendorName %>, a quote was just generated for you.</p>

<p>The quote was generated <%= dateTime %></p>

<p>
<strong>Company:</strong> <%= quoteCompany %><br />
<strong>Contact:</strong> <%= quoteContact %><br />

<strong>Phone:</strong> <%= quotePhone %><br />
<strong>E-mail Address:</strong> <%= quoteEmail %><br />
<strong>Preferred Contact:</strong> <%= quoteMethod %><br />

<strong>Amount:</strong> <%= quoteAmount %><br />
<strong>Equipment Description:</strong> <%= quoteDesc %><br />
</p>

<p>Click below to view the quote in your dashboard.</p> 

<p><a href="<%= link %>"><%= link %></a></p>