<p>This application was completed and is ready for review.</p>

<p><strong>Vendor Information</strong></p>

Vendor Name:                <%= appVendorName %><br>
Marlin Sales Rep:           <%= appSalesRep %><br>
Vendor Rep:                 <%= appVendorRep %><br>

<br>

<p><strong>Equipment Information</strong></p>

Total Equipment Cost:       <%= appTotalCost %><br>
Description:                <%= appDesc %><br>
<br>
Payment Term:               <%= appPaymentTerm %><br>
Payment:                    <%= appPayment %><br>
Program Name:               <%= appBuyoutProgramName %><br>
Buyout Option:              <%= appBuyoutOption %><br>
<br>
Custom Field:               <%= appCustomFieldName %><br>
Custom Field Value:         <%= appCustomFieldValue %><br>

<br>

<p><strong>Company Information</strong></p>

Full Legal Business Name:   <%= appCompanyName %><br>
Address 1:                  <%= appCompanyAddress1 %><br>
Address 2:                  <%= appCompanyAddress2 %><br>
City:                       <%= appCompanyCity %><br>
State:                      <%= appCompanyState %><br>
Zip:                        <%= appCompanyZip %><br>

<br>

<p><strong>Primary Contact Information</strong></p>

Contact Name:               <%= appContactName %><br>
Email:                      <%= appContactEmail %><br>
Phone:                      <%= appContactPhone %><br>
Preferred Method:           <%= appContactMethod %><br>

<br>

Sole proprietor?            <%= appCompanySoleProp %><br>
Years in business:          <%= appCompanyYearsInBusiness %><br>

<p><strong>Personal Guarantor</strong></p>

Name:                       <%= appGuarantorName %><br>
Social:						<%= appGuarantorContactSocial %><br>
<br>

<p><strong>Personal Guarantor Contact</strong></p>

Email:                      <%= appGuarantorContactEmail %><br>
Phone:                      <%= appGuarantorContactPhone %><br>
Address 1:                  <%= appGuarantorContactAddress1 %><br>
Address 2:                  <%= appGuarantorContactAddress2 %><br>
City:                       <%= appGuarantorContactCity %><br>
State:                      <%= appGuarantorContactState %><br>
Zip:                        <%= appGuarantorContactZip %><br>