<p>This application was generated for you.</p>

<p><strong>Vendor Information</strong></p>

Vendor Name:                <%= appVendorName %><br>
Marlin Sales Rep:           <%= appSalesRep %><br>
Vendor Rep:                 <%= appVendorRep %><br>

<br>

<p><strong>Equipment Information</strong></p>

Total Equipment Cost:       <%= appTotalCost %><br>
Description:                <%= appDesc %><br>
<br>
Payment Term:               <%= appPaymentTerm %><br>
Payment:                    <%= appPayment %><br>
Program Name:               <%= appBuyoutProgramName %><br>
Buyout Option:              <%= appBuyoutOption %><br>
<br>
Custom Field:               <%= appCustomFieldName %><br>
Custom Field Value:         <%= appCustomFieldValue %><br>

<br>

<p><strong>Company Information</strong></p>

Full Legal Business Name:   <%= appCompanyName %><br>
Address 1:                  <%= appCompanyAddress1 %><br>
Address 2:                  <%= appCompanyAddress2 %><br>
City:                       <%= appCompanyCity %><br>
State:                      <%= appCompanyState %><br>
Zip:                        <%= appCompanyZip %><br>

<br>

<p><strong>Primary Contact Information</strong></p>

Contact Name:               <%= appContactName %><br>
Email:                      <%= appContactEmail %><br>
Phone:                      <%= appContactPhone %><br>
Preferred Method:           <%= appContactMethod %><br>

<br>

Sole proprietor?            <%= appCompanySoleProp %><br>
Years in business:          <%= appCompanyYearsInBusiness %><br>
